.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.title{
    font-weight: 800;
    font-size: 45px;
    /* margin: 51px 226px; */
}
.oranger{
    color: #FD6E0A;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}

/*shared class */

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    /* width: 150px;
    height: 64px; */
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
}

.btn-primary-2{
    background-color: #FFF8F3;
    color: #FD6E0A;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
}


.dark-1{
    color: #181818;
}

.dark-3{
    color: #757575;
}

.secondary-bg{
    background-color: #FFF8F3;
}

.info-title{
    font-size: 20px;
}

.info-des{
    font-size: 20px;
    font-weight: bold;
}

.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.work-description{
    color: #474747;
    font-size: 18px;
    text-align: center;
    width: 909px;
    height: 80px;
    margin: 30px auto;
}

/*banner*/

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
}

.greeting{
    font-size: 45px;
    font-weight: 600;
}

.gre-title{
    font-weight: bold;
    font-size: 85px;

}
.profile{
    width: 584px;
    height: 676px;
}

.content{
    max-width: 585px;
    height: 356px;
}

.content-description{
    margin-top: 20px;
}

.dwld{
    margin-top: 30px;
}

/* header */

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* main */
.main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about us section */
.about{
    /* margin: 0 auto; */
    display: flex;
    height: 550px;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    border-radius: 10px;
}
.about-sec{
    width: 827px;
    height: 288px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 10px;
}

.about-title{
    font-size: 35px;
    font-weight: bold;
    margin-top: 0;
}

.about-des{
    font-size: 18px;
}

.about-items{
    display: flex;
    justify-content: space-between;
}

/*what I do section*/

.What-do{
    margin-top: 130px;
}

.cards{
    display: flex;
    gap: 24px;
}

.card{
    margin-top: 50px;
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    width: 267px;
    height: 350px;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-description{
    font-size: 16px;
    width: 190px;
    height: 243px;
    margin-top: 50px;
}

/* resume-styles */

.columns{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.resume{
    margin-top: 130px;
}

.resume-title{
    margin-top: 130px;
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.experience-subtitle{
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
    margin-top: 0;
}

.experience-description{
    font-size: 16px;
    color: #757575;
    width: 510px;
    height: 84px;
}

.re-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-button{
    margin-top: 50px;
}

.resume hr{
    width: 558px;
}
